### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Ignore Maven wrapper files if not needed ###
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Ignore build folders ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Ignore OS junk ###
.DS_Store
Thumbs.db

### Spring Boot: Ignore local config files ###
# Common pattern to keep sensitive or local settings out of Git
/src/main/resources/application-local.properties
/src/main/resources/appication-secreate.properties
*.properties

.env
*.env
